@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: ;

  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --Dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --dark-grayish-blue: hsl(234, 11%, 52%);
  --very-dark-grayish-blue: hsl(233, 14%, 35%);
  --very-dark-grayish-blue: hsl(237, 14%, 26%);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.light-mode {
  background-color: var(--very-light-grayish-blue);
}

.dark-mode {
  background-color: var(--very-dark-blue);
}

a {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: var(--dark-grayish-blue);
}

a:hover{
  color: var(--very-dark-blue);
}

.filter-todo {
  color: var(--bright-blue);
}

button {
  cursor: pointer;
  border: 0;
}

#root {
  display: grid;
  place-items: center;
}

.todo-header {
  width: 100%;
  height: 200px;
  padding: 2rem;
  background-image: url(../images/bg-mobile-light.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
  position: relative;
}

.todo-header-content{
  width: auto;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.todo-header-dark-mode {
  background-image: url(../images/bg-mobile-dark.jpg);
}

.btn-mode {
  width: 25px;
  height: 25px;

  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
}

.btn-moon {
  background-image: url(../images/icon-moon.svg);
}

.btn-sun {
  background-image: url(../images/icon-sun.svg);
}

h1 {
  color: var(--very-light-gray);
  text-transform: uppercase;
  letter-spacing: 7px;
}

.todo-container {
  width: 90%;
  max-width: 600px;
  position: absolute;
  top: 100px;
  display: grid;
  align-items: center;
  gap: 1rem;
}

.form {
  width: auto;
  display: flex;
  gap: 1rem;

  max-width: 600px;
  border-radius: 0.5rem;
  background-color: var(--very-light-gray);
  padding: 1rem;
}

.toggle-btn {
  background-color: red;
}

.form button,
.toggle-btn {
  background: transparent;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  border: 2px solid var(--light-grayish-blue);
}

.input {
  width: 100%;
  font-size: 1rem;
  border: 0;
  background-color: transparent;
}

.input-dark-mode{
  color: var(--light-grayish-blue);
}

.input:focus{
    border: none;
    outline: none;
}

.todo-list, .todo-footer {
  border-radius: 10px;
  list-style: none;
  background-color: var(--very-light-gray);
}

.form-dark-mode,
.todo-list-dark-mode,
.todo-footer-dark-mode {
  color: var(--light-grayish-blue);
  background-color: var(--very-dark-desaturated-blue);
}

.todo-list li {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--light-grayish-blue);
}

.todo-item-completed {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.todo-list li:nth-last-of-type(1) {
  color: var(--dark-grayish-blue);
  border: none;
}

.todo-list li .cta-clear-completed {
  color: var(--dark-grayish-blue);
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.delete-btn {
  width: 20px;
  border: 0;
  background-image: url(../images/icon-cross.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.todo-footer{
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}


.todo-dragAndDrop {
  justify-self: center;
  position: absolute;
  bottom: -100px;
  color: var(--dark-grayish-blue);
}

.completed {
  text-decoration: line-through;
  color: var(--light-grayish-blue);
}

.toggle-btn-completed {
  border: 0;
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%)),
    url(../images/icon-check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

@media (min-width: 600px){
  .todo-header {
    background-image: url(../images/bg-desktop-light.jpg);
  }
  
  .todo-header-dark-mode {
    background-image: url(../images/bg-desktop-dark.jpg);
  }

  .todo-footer{
    width: 50%;
    position: absolute;
    bottom: 0;
    place-self: center;
    background-color: transparent;
  }
}
